*{
    margin:0;
    padding:0;
height: auto;
}
.header{
    height:90px;
}

.navbar{
    height:60px;
    width:100%;
    background-color:black;
display:flex;
justify-content: space-evenly;
align-items: center;
align-content:center;
color:white;
/*position: fixed;*/
}
.logo{
    height:50px;
    width:120px;
}
.logo-section{
    background-image:url("logo.jpeg");
    background-size:cover;
    height:50px;
    width:100%;
}
.border{
    border:2px solid transparent;
}

.border:hover{
     border:1px solid white;
}
/** delivery**/
.delivery{
    width:150px;

}
.delivery p{
    font-size:1rem;
    margin-left:15px;
}
.delivery-sec{
    display:flex;
    font-weight: 700;
}
.delivery-sec i{
    font-size: 1rem;
}
/** search section**/
.search-bar{
    display:flex;
    justify-content: space-evenly;
 height: 50px;
    width:600px;
}
.search-select{
    border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
    text-align:center;
width:10%;
}
.search-input
{font-size: 20px;
    width:100%;
}
.search-btn{
    background-color:rgb(255, 183, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    align-content:center;
font-size:2rem;
    height:50px;
    width:50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}/**account**/
.account {
width:100px;

}
.account p{
    font-size:15px;
    margin-left:10px;
}
.account a{
    text-decoration:none;
    color:white;
    font-weight:700;
}
.cart i{
    font-size:30px;
}
/** Pannel**/
.pannel{
    background-color: rgba(0, 0, 0, 0.873);
    color:white;
    height:30px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
align-content:center;

}
.items{
    display:flex;
width:90%;
gap:5%;
}
/** Main section**/
.main-sec{
    height:400px;   
}
.hero{
    background-image: url(amazon2.jpg);
    background-size:cover;
    height:100%;
}
/** content section**/
.show{
    background-color:rgb(240, 220, 193);
    height:1000px;
display:flex;
flex-wrap: wrap;
    justify-content: space-evenly;
}

.box1{
    height:400px;
    width:400px;
    margin-top:20px;
    background-color: white;
   margin-bottom:40px;

}
.box2{
    height:400px;
    width:400px; 
    margin-top:20px;
    background-color: white;
    
}
.box3{
    height:400px;
    width:400px;
    margin-top:20px;
    background-color: white;

}
.images1{
    height: 150px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    align-content:center;
    
}
.content-img1{
    height:100px;
    width:150px;
   background-image: url(amazon3.jpg);
   background-size:cover;
}
.content-img2{
    height:100px;
    width:150px;
   background-image: url(amazon4.jpg);
   background-size:cover;
}
.images2{
    height: 150px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    align-content:center;
}
.content-img3{
    height:100px;
    width:150px;
   background-image: url(amazon5.jpg);
   background-size:cover;
  
}
.content-img4{
    height:100px;
    width:150px;
   background-image: url(amazon6.jpg);
   background-size:cover;
}
.box1 a{
    color: greenyellow;
    text-decoration:none;
   margin-left:30px;
}
.content1{
    height:100px;
}.content2{
    height:100px;
}
.display-div{
    height:60px;
    width:100%;
}
.content3{
    height:100px;
}.content4{
    height:100px;
}
.box2 a{
    color: greenyellow;
    text-decoration:none;
   margin-left:30px;
}
.box3 a{
    color: greenyellow;
    text-decoration:none;
   margin-left:30px;
}
.footer-upr{
    height:100px;
    }
    .footer-upr h2{
    text-align: center;
    margin-top:6px;
    }
    .footer-btn1{
        height: 30px;
        width:15%;
        background-color:yellow;
        border-radius:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
margin-left:43%;
    }
    .footer-btn1 a{
        text-decoration:none;
    }
    .footer-upr p{
        color:blue;
        text-align:center;
    }
    .footer-upr p a{
        color:black;
    }
    .footer-lwr{
        height:500px;
        background-color: rgb(47, 46, 46);
    }
    .backtotop{
        height:40px;
        background-color: rgb(40, 38, 66);
        border:2px solid back;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        align-content:center;
    }
    .backtotop a{
        color:white;
        text-decoration: none;
    }
    .show-options{
        display:flex;
        justify-content: space-evenly;
    }
    .show-first{width:25%;
        color:white;
        text-align: center;

    }
    .show-first ul{
        list-style-type: none;
        
        margin-top:4px;
       
    }
    .show-first ul li{
        line-height: 30px;
    }
.show-second{width:25%;
        color:white;

    }
    .show-second ul{
        list-style-type: none;
        margin-left:6px;
        margin-top:4px;
       
    }
    .show-second ul li{
        line-height: 30px;
    }
.show-third{width:25%;
        color:white;

    }
    .show-third ul{
        list-style-type: none;
        margin-left:6px;
        margin-top:4px;
       
    }
    .show-third ul li{
        line-height: 40px;
    }
    .show-fourth{width:25%;
        color:white;

    }
    .show-fourth ul{
        list-style-type: none;
        margin-left:6px;
        margin-top:4px;
       
    }
    .show-fourth ul li{
        line-height: 40px;
    }
